<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>create and share</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<div id="app">
  <p>{{ message }}</p>
</div>

<body>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: 'Create anf Share',
      },
      methods: {

      },
    })
  </script>
</body>

</html>