<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div class="test"></div>
    <author></author>


    <script>
        var author = Vue.extend({
            template:"<p><a v-bind:href='url'>{{ name }}</a></p>",
            data:function(){
                return {
                    name:"joe",
                    url:"http://blog.mysir.me"
                }
            }
        });
        
        new author().$mount(".test");
        new author().$mount("author");
    </script>
</body>
</html>