<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <todo-item v-for='item in grocerylist' v-bind:todo='item' v-bind:key='item.id'></todo-item>

    <span v-if="login">欢迎您：{{ username }}</span>
    <span v-else>请登陆</span>
    <p>{{ sortItems }}</p>
    <ul>
      <li v-for="(item,index) in grocerylist">
        {{ index }} - {{ item.text }}-{{ item.pice }}
      </li>
    </ul>
    <p>按照价格排序</p>
    <ul>
      <li v-for="(item,index) in sortPices">
        {{ index }} - {{ item.text }}-{{ item.pice }}
      </li>
    </ul>

    <!-- v-text -->
    <p v-text="message"></p>
  </div>
  <div id="app_2">
    <input type="number" placeholder="数字1" v-model.number="a">
    <input type="number" placeholder="数字2" v-model.number="b">
    <select name="compute" id="compute" v-model="hexo" v-on:change="getCompute(hexo)">
      <option value="1">+</option>
      <option value="2">-</option>
      <option value="3">*</option>
      <option value="4">/</option>
    </select>
    <p v-text="result"></p>
  </div>
  <script>
    var app_2 = new Vue({
      el: '#app_2',
      data: {
        a: null,
        b: null,
        result: null,
        hexo: null
      },
      methods: {
        getCompute: function (value) {

          if (value == 1) {
            this.result = this.a + this.b;
          }
          else if (value == 2) {
            this.result = this.a - this.b;
          }
          else if (value == 3) {
            this.result = this.a * this.b;
          }
          else {
            this.result = this.a / this.b;
          }
        }
      }

    });
  </script>



  <script>
    Vue.component("todo-item", {
      props: ["todo"],
      template: "<li>{{ todo.text }}</li>"
    });
    var app = new Vue({
      el: "#app",
      data: {
        grocerylist: [
          { id: "1", text: "苹果", pice: 12 },
          { id: "2", text: "香蕉", pice: 50 },
          { id: "3", text: "花生糖", pice: 2 },
          { id: "4", text: "薯条", pice: 7 },
        ],
        login: false,
        items: [12, 32, 43, 33, 56, 1, 2, 4, 5, 10],
        message: "hello vue"

      },
      methods: {
        sortNumber: function (a, b) {
          return a - b;
        },
        sortPice: function (array, key) {
          return array.sort(function (a, b) {
            var x = a[key],
              y = b[key];
            return (x - y) < 0 ? -1 : ((x - y > 0 ? 1 : 0));
          });
        }
      },
      computed: {
        sortItems: function () {
          return this.items.sort(this.sortNumber);
        },
        sortPices: function () {
          return this.sortPice(this.grocerylist, "pice");
        }
      }
    });
    console.log(0.3 - 0.2 == 0.2 - 0.1);
    console.log("result_1", 0.3 - 0.2, "result_2", 0.2 - 0.1, 0.3 - 0.1);
  </script>
</body>

</html>