<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <input type="text" v-model.lazy="message">
    <p v-text="message"></p>
    <select name="list" id="list" v-model="select">
      <option value="1">19</option>
      <option value="2">20</option>
    </select>
    <p>{{select}}</p>

    <input type="checkbox" v-model="checkbox" value="hello">
    <input type="checkbox" v-model="checkbox" value="to">
    <p v-text="checkbox"></p>

    <!-- 单选框绑定一个值 -->
    <label for="boy">
      <input type="radio" id="boy" value="男" v-model="sex" /> 男
    </label>

    <label for="boy">
      <input type="radio" id="girl" value="女" v-model="sex" /> 女
    </label>
    <p v-text="sex"></p>


    <div>
      {{ cloak }}
    </div>
  </div>
  <script>
    // var app = new Vue({
    //     el: "#app",
    //     data:{
    //         message:null,
    //         select:null,
    //         checkbox:[],
    //         sex:null,
    //         alock:"hello alock",
    //     }
    // });

    setTimeout(function () {
      new Vue({
        el: "#app",
        data: {
          message: null,
          select: null,
          checkbox: [],
          sex: null,
          cloak: "hello alock",
        }
      });
    }, 2000);
  </script>

</body>

</html>