<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="select" v-on:mouseover='listStyle.display="block"' @mouseout='listStyle.display="none"'>
    <span>请选择:</span>
    <span>{{ now }}</span>
    <ul v-bind:style="listStyle">
      <li v-for="option in options" v-on:click="selectOption(option)">{{ option }}</li>
    </ul>
  </div>

  <div id="test">
    <input type="checkbox" name="item-01" v-model="list_txt">
    <label for="item-01">joe</label>
    <p>{{ list_txt }}</p>
  </div>

  <!-- templata属性 -->
  <div id="target">
  </div>
  <div id="cp">
    <test name="joe"></test>
  </div>

  <!-- 过滤器 -->
  <div id="ff">
    {{ name | capitalize(2,3)}}
  </div>
  <!--  vue代码部分 -->
  <script>
    //    v-model绑定多选按钮
    var form = new Vue({
      el: "#test",
      data: {
        list_txt: "joe",
        list_arr: ['菜惠子', '二郎']
      }
    });
  </script>
  <script>
    //普通的列表显示隐藏
    var options = ("广州,珠海,汕头,北京,深圳,上海").split(",");
    var select = new Vue({
      el: "#select",
      data: {
        options: options,
        now: options[0],
        listStyle: {
          display: "none",
        }
      },
      methods: {
        selectOption: function (opt) {
          this.now = opt;
          this.listStyle.display = "none";
        }
      }
    });
  </script>
  <script id="tp" type="x-template">
           <p>这是模板,挂载success！</p>
       </script>
  <script>
    var tm = new Vue({
      el: '#target',
      template: '#tp',
    });

  </script>
  <script>
    Vue.component('test', {
      data: function () {
        return {
          upName: "Joe"
        }
      },
      props: ['name'],
      template: "<p>模板加载成功！欢迎您 {{ name }} </p>",

    });
    var cp = new Vue({
      el: '#cp',
    });
  </script>
  <script>
    var ff = new Vue({
      el: '#ff',
      data: {
        name: 'joe',
      },
      filters: {
        capitalize: function (value, a, b) {
          if (!value) return '';
          value = value.toString();
          return value.charAt(0).toUpperCase() + value.slice(1) + a + b;
        }
      }
    })
  </script>
</body>

</html>